{% set revnumber = node.getAttribute('revnumber') %}
{% set revdate = node.getAttribute('revdate') %}
{% set revremark = node.getAttribute('revremark') %}
{% set lastUpdateLabel = node.getAttribute('last-update-label') %}
{% set docDatetime = node.getAttribute('docdatetime') %}
{% set versionLabel = node.getAttribute('version-label', DEFAULT_LABEL_VERSION) %}


<div id="footer-text">
  {% if revnumber %}
    {{versionLabel}} {{revnumber}}
    {% if revdate %}
      ( {{revdate}} )
    {% endif %}

    {% if revremark %}
      : {{revremark}}
    {% endif %}



  {% endif %}

  {% if lastUpdateLabel %}
    <br/>
    {{lastUpdateLabel}} {{docDatetime}}
  {% endif %}

</div>
