{% set footnotes = node.getFootnotes() %}

{% if footnotes.length > 0 %}
  <section id="footnotes">
    <hr />

    {% for footnote in footnotes %}
      <div class="footnote" id="_footnotedef_{{footnote.getIndex()}}">
        <a href="#_footnoteref_{{footnote.getIndex()}}">
          {{footnote.getIndex()}}
        </a>
        . {{footnote.getText()}}
      </div>
    {% endfor %}

  </section>
{% endif %}