{% set authors = node.getAuthors() %}
{% set title = node.getTitle() %}
{% set authors = node.getAuthors() %}
{% set versionLabel = node.getAttribute('version-label', DEFAULT_LABEL_VERSION) %}
{% set revnumber = node.getAttribute('revnumber') %}
{% set revdate = node.getAttribute('revdate') %}
{% set revremark = node.getAttribute('revremark') %}


{% if title %}<h1>{{title | safe}}</h1>{% endif %}

{% if author or revnumber or revdate or revremark %}
  <div class="details">

    {% if authors %}
      {% set comma = joiner() %}
      {% for author in authors %}
        {{ comma() }}
        <span id="author">
          {{author.getFirstName()}} {{author.getLastName()}}
        </span>
        {% if author.getEmail() %}
          <br />
          <span id="email">
            <a href="mailto:{{author.getEmail()}}">{{author.getEmail()}}</a>
          </span>
        {% endif %}
        <br />
      {% endfor %}
    {% endif %}

    {% if revnumber %}
      <span id="revnumber">{{versionLabel}} {{revnumber}}</span>
    {% endif %}

    {% if revdate %}
      ( <span id="revdate">{{revdate}}</span> )
    {% endif %}

    {% if revremark %}
      <br/>
      <span id="revremark">{{revremark}}</span>
    {% endif %}
  </div>
{% endif %}
