{% set stem = node.hasAttribute('stem') %}
{% set chartistdir = node.getAttribute('chartist-dir') %}
{% set highlighter =  node.getDocument().getAttribute('source-highlighter') %}
{% set codemirrordir =  node.getDocument().getAttribute('codemirror-dir') %}
{% set codemirrorgraphqldir =  node.getDocument().getAttribute('codemirror-graphql-dir') %}

{% if stem %}
  <script crossorigin="anonymous" async="async" type="application/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_HTMLorMML"></script>
  <script type="application/javascript">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['\\(','\\)']],
        displayMath: [['\\[','\\]']],
        ignoreClass: 'nostem|nolatexmath'
      },
      asciimath2jax: {
        delimiters: [['\\$','\\$']],
        ignoreClass: 'nostem|noasciimath'
      }
    });
  </script>
{% endif %}


{% if chartistdir %}
  <script type="application/javascript" src="{{chartistdir}}/chartist.min.js"></script>
  <script type="application/javascript">
    document.body.querySelectorAll('div.ct-chart').forEach((node) => {
      const options = {
        height: node.dataset['chartHeight'],
        width: node.dataset['chartWidth'],
        colors: node.dataset['chartColors'].split(',')
      }
      const dataset = Object.assign({}, node.dataset)
      const series = Object.values(Object.keys(dataset)
        .filter(key => key.startsWith('chartSeries-'))
        .reduce((obj, key) => {
          obj[key] = dataset[key]
          return obj
        }, {})).map(value => value.split(','))
      const data = {
        labels: node.dataset['chartLabels'].split(','),
        series: series
      }
      Chartist[node.dataset['chartType']](node, data, options)
    })
  </script>
{% endif %}

{% if highlighter == "codemirror" and codemirrordir %}
  <script type="application/javascript" src="{{codemirrordir}}/lib/codemirror.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/apl/apl.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/asciiarmor/asciiarmor.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/asn.1/asn.1.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/asterisk/asterisk.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/brainfuck/brainfuck.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/clike/clike.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/clojure/clojure.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/cmake/cmake.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/cobol/cobol.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/coffeescript/coffeescript.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/commonlisp/commonlisp.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/crystal/crystal.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/css/css.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/cypher/cypher.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/d/d.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/dart/dart.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/diff/diff.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/django/django.js"></script>
  <!--<script type="application/javascript" src="{{codemirrordir}}/mode/dockerfile/dockerfile.js"></script>-->
  <script type="application/javascript" src="{{codemirrordir}}/mode/dtd/dtd.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/dylan/dylan.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/ebnf/ebnf.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/ecl/ecl.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/eiffel/eiffel.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/elm/elm.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/erlang/erlang.js"></script>
  <!--<script type="application/javascript" src="{{codemirrordir}}/mode/factor/factor.js"></script>-->
  <script type="application/javascript" src="{{codemirrordir}}/mode/fcl/fcl.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/forth/forth.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/fortran/fortran.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/gas/gas.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/gfm/gfm.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/gherkin/gherkin.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/go/go.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/groovy/groovy.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/haml/haml.js"></script>
  <!--<script type="application/javascript" src="{{codemirrordir}}/mode/handlebars/handlebars.js"></script>-->
  <script type="application/javascript" src="{{codemirrordir}}/mode/haskell/haskell.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/haskell-literate/haskell-literate.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/haxe/haxe.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/htmlembedded/htmlembedded.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/htmlmixed/htmlmixed.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/http/http.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/idl/idl.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/javascript/javascript.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/jinja2/jinja2.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/jsx/jsx.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/julia/julia.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/livescript/livescript.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/lua/lua.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/markdown/markdown.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/mathematica/mathematica.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/mbox/mbox.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/mirc/mirc.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/mllike/mllike.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/modelica/modelica.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/mscgen/mscgen.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/mumps/mumps.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/nginx/nginx.js"></script>
  <!--<script type="application/javascript" src="{{codemirrordir}}/mode/nsis/nsis.js"></script>-->
  <script type="application/javascript" src="{{codemirrordir}}/mode/ntriples/ntriples.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/octave/octave.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/oz/oz.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/pascal/pascal.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/pegjs/pegjs.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/perl/perl.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/php/php.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/pig/pig.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/powershell/powershell.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/properties/properties.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/protobuf/protobuf.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/pug/pug.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/puppet/puppet.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/python/python.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/q/q.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/r/r.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/rpm/rpm.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/rst/rst.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/ruby/ruby.js"></script>
  <!--<script type="application/javascript" src="{{codemirrordir}}/mode/rust/rust.js"></script>-->
  <script type="application/javascript" src="{{codemirrordir}}/mode/sas/sas.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/sass/sass.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/scheme/scheme.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/shell/shell.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/sieve/sieve.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/slim/slim.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/smalltalk/smalltalk.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/smarty/smarty.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/solr/solr.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/soy/soy.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/sparql/sparql.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/spreadsheet/spreadsheet.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/sql/sql.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/stex/stex.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/stylus/stylus.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/swift/swift.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/tcl/tcl.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/textile/textile.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/tiddlywiki/tiddlywiki.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/tiki/tiki.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/toml/toml.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/tornado/tornado.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/troff/troff.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/ttcn/ttcn.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/ttcn-cfg/ttcn-cfg.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/turtle/turtle.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/twig/twig.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/vb/vb.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/vbscript/vbscript.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/velocity/velocity.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/verilog/verilog.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/vhdl/vhdl.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/vue/vue.js"></script>
  <!--<script type="application/javascript" src="{{codemirrordir}}/mode/wast/wast.js"></script>-->
  <script type="application/javascript" src="{{codemirrordir}}/mode/webidl/webidl.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/xml/xml.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/xquery/xquery.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/yacas/yacas.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/yaml/yaml.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/yaml-frontmatter/yaml-frontmatter.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/z80/z80.js"></script>
  <script type="application/javascript" src="{{codemirrorgraphqldir}}/results/mode.js"></script>

  <script type='text/javascript'>
    var elements = document.getElementsByClassName("code_highlight");
    for( var i=0; i< elements.length; i++) {
      var element = elements[i];
      var mode = element.getAttribute("data-lang");
      CodeMirror.fromTextArea(element, { 'readonly':true, 'mode':mode, 'theme':'neo', 'lineNumbers':true, 'lineWrapping':true});
    };
  </script>
{% endif %}
