{% set class = node.getDocument().getAttribute('toc-class', DEFAULT_TOC_CLASS) %}
{% set title = node.getDocument().getAttribute('toc-title') %}
{% set toclevels = node.getDocument().getAttribute('toclevels', DEFAULT_TOC_LEVELS) %}

<nav id="toc" class="{{class}} {{toc}}" >
  <h2 id="toctitle" class="toc-title">{{title}}</h2>
  {{generateToc(node.getDocument(), toclevels) | safe}}
</nav>
