{% set id = node.getId() %}
{% set role = node.getRole() %}
{% set title = node.getTitle() %}
{% set nowrap = node.isOption('nowrap') or not (node.hasAttribute('prewrap')) %}
{% set style = node.getStyle() %}
{% set highlighter =  node.getDocument().getAttribute('source-highlighter') %}
{% set config = getHighlighterConfig(node, highlighter, nowrap) %}

<div id="{{id}}" class="listingblock {{role}}">

  {% if title %}
    <div class="title">{{title}}</div>
  {% endif %}

  <div class="content">
    {% if style == "source" and  not highlighter === "codemirror" %}
      <pre class="{{config.pre_class | join(" ")}}" lang="{{config.pre_lang}}"><code class="{{config.code_class}}" data-lang="{{config.code_lang}}">{{ node.getContent() | safe}}</code></pre>
    {% elif style == "source" and  highlighter === "codemirror" %}
      <textarea class="code_highlight {{config.code_class}}" data-lang={{config.source_lang}}>{{ node.getContent() | safe}}</textarea>
    {% else %}
      <pre class="{{ "nowrap" if nowrap else ""}}">{{ node.getContent() | safe}}</pre>
    {% endif %}

  </div>

</div>
