{% set hasToc = node.getDocument().hasAttribute('toc') %}
{% set tocPosition = node.getDocument().getAttribute('toc-position', '') %}

<section id="preamble">
  {{ node.getContent() | safe}}
</section>

{% if hasToc and tocPosition == "content" %}
  {% include "_toc.njk" %}
{% endif %}
