{% set level = node.getLevel() %}
{% set title = node.getCaptionedTitle() %}
{% set numeral = node.getNumeral() %}
{% set id = node.getId() %}
{% set sectanchors = node.getAttribute('sectanchors', false) %}
{% set sectlinks = node.getAttribute('sectlinks', false) %}
{% set role = node.getRole() %}


{% if level > 0 %}
  <section class="sect{{level}}">
{% endif %}

  <h{{level+1}} id="{{id}}" class="{{role}} {{ "sect0" if (level == 0) else ""}}" >

    {% if (sectanchors) or (sectlinks) %}
      <a href="#{{id}}" class="{{ "anchor" if (sectanchors) else "link"}}"
    {% endif %}

     {{ getSectionNumeralPath(node) | join(".") }}. {{title | safe}}

    {% if (sectanchors) or (sectlinks) %}
      </a>
    {% endif %}

  </h{{level+1}}>

  {% if level == 1 %}
    <div class="sectionbody">
  {% endif %}

  {{ node.getContent() | safe}}

  {% if level == 1 %}
    </div>
  {% endif %}

{% if level > 0 %}
  </section>
{% endif %}
