@charset "UTF-8";

@import "./style/variables";
@import "../../command-line/node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../command-line/node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../command-line/node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "./style/controls";
@import "./style/slides";
@import "./style/asciidoctor";
@import "./style/codemirror.scss";
@import "./style/print";
@import "./assets/font/Raleway/font.css";

body {
  font-family: $font-family;
  font-size: 2em;
  font-weight: 300;
}
