@charset "UTF-8";
html {
  body {
    div.reveal {
      div.slides {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          //margin: 0 0 40px 0;
          color: $primary;
          font-weight: 600;
          line-height: 1.2;
          letter-spacing: normal;
          text-shadow: none;
          word-wrap: break-word;
        }

        h1 {
          font-size: 4em;
        }

        h2 {
          font-size: 4em;
        }

        h3 {
          font-size: 4em;
        }

        h4 {
          font-size: 1em;
        }

        h1 {
          text-shadow: none;
        }

        p {
          margin: 20px 0;
          line-height: 1.3;
        }

        /* Ensure certain elements are never larger than the slide itself */
        img,
        video,
        iframe {
          max-width: 95%;
          max-height: 95%;
        }

        strong,
        b {
          font-weight: bold;
        }

        em {
          font-style: italic;
        }

        ol,
        dl,
        ul {
          display: inline-block;
          text-align: left;
          margin: 0 0 0 1em;
        }

        ol {
          list-style-type: decimal;
        }

        ul {
          list-style-type: disc;
        }

        ul ul {
          list-style-type: square;
        }

        ul ul ul {
          list-style-type: circle;
        }

        ul ul,
        ul ol,
        ol ol,
        ol ul {
          display: block;
          margin-left: 40px;
        }

        dt {
          font-weight: bold;
        }

        dd {
          margin-left: 40px;
        }

        q,
        blockquote {
          quotes: none;
        }

        blockquote {
          display: block;
          position: relative;
          width: 70%;
          margin: 20px auto;
          padding: 5px;
          font-style: italic;
          background: rgba(255, 255, 255, 0.05);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
        }

        blockquote p:first-child,
        blockquote p:last-child {
          display: inline-block;
        }

        q {
          font-style: italic;
        }

        pre {
          display: block;
          position: relative;
          width: 90%;
          margin: 20px auto;
          text-align: left;
          font-size: 0.55em;
          font-family: monospace;
          line-height: 1.2em;
          word-wrap: break-word;
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
        }

        code {
          font-family: monospace;
        }

        pre code {
          display: block;
          padding: 5px;
          overflow: auto;
          max-height: 400px;
          word-wrap: normal;
        }

        table.tableblock.frame-all {
          max-width: 90%;
          border-color: $secondary;
          border-width: 4px;
          margin: 0 auto;
          border-collapse: collapse;
          border-spacing: 0;

          thead {
            background-color: $primary;
            th {
              font-weight: bold;
              color: #fff;
            }
          }

          tbody,
          thead {
            tr {
              padding: 5px;
              border-color: $secondary;
              border-width: 4px;
              text-align: left;
              padding: 0.2em 0.5em 0.2em 0.5em;

              th.tableblock,
              td.tableblock {
                padding: 5px;
                border-color: $secondary;
                border-width: 4px;
                text-align: center;
              }
            }
          }
        }

        sup {
          vertical-align: super;
        }

        sub {
          vertical-align: sub;
        }

        small {
          display: inline-block;
          font-size: 0.6em;
          line-height: 1.2em;
          vertical-align: top;
        }

        small * {
          vertical-align: top;
        }

        /*********************************************
         * LINKS
         *********************************************/
        a {
          color: $primary;
          text-decoration: underline;
          -webkit-transition: color 0.15s ease;
          -moz-transition: color 0.15s ease;
          transition: color 0.15s ease;
        }

        a:hover {
          font-weight: bold;
        }

        .roll span:after {
          color: #fff;
          background: #1a6091;
        }

        /*********************************************
         * IMAGES
         *********************************************/
        section img {
          margin: 15px 0px;
        }
        section img.plain {
          border: 0;
          box-shadow: none;
        }

        a img {
          -webkit-transition: all 0.15s linear;
          -moz-transition: all 0.15s linear;
          transition: all 0.15s linear;
        }

        .admonitionblock {
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          margin-bottom: 1.25rem;
          justify-content: flex-start;

          .icon {
            font-size: 2em;
            flex-grow: 0;
            padding: 0 1rem;
          }
          .content {
            border-left: 1px solid $secondary;
            padding-left: 1rem;
            flex-grow: 1;
            text-align: left;
          }
        }
      }
    }
  }
}
