@charset "UTF-8";

.listingblock {

  .content {

    .CodeMirror {
      width: auto !important;
      height: auto !important;
      padding: 9.5px;
      margin: 0 0 10px;
      font-size: 13px;
      word-break: break-word !important;
      word-wrap: break-word !important;
      background-color: #f5f5f5 !important;
      border: 1px solid #ccc;
      border-radius: 4px;
      z-index: 0;
      text-align: left;

      pre {
        display: block;
        padding : 0 !important;
        margin:0 !important;
        width: auto !important;
        font-size: inherit !important;
        font-family: inherit !important;
        line-height: inherit !important;
        word-wrap: break-word;
        box-shadow: none !important;
      }

      .CodeMirror-scroll {

        .CodeMirror-sizer {

          .CodeMirror-lines {

            .CodeMirror-line {
              word-break: break-word !important;
              word-wrap: break-word !important;
            }
          }
        }
      }

    }
  }
}
