@charset "UTF-8";
.reveal {

  .controls {
    & > button {
      color:$secondary;
      &.enabled {
        color:$primary
      }
    }
  }

  .progress {
    height: 10px;
    background-color: $secondary;
    color:$primary;
  }

}
