@charset "UTF-8";
html.print-pdf {
  background: #fff;
  width: auto;
  height: auto;
  overflow: visible;

  body {
    background-image: none !important;
    margin: 0 !important;
    page-break-before: avoid;
    width: auto;
    height: auto;
    background: #fff;
		font-size: 20pt;
		border: 0;
		margin: 0 5%;
		padding: 0;
		overflow: visible;
		float: none !important;

    div.reveal {
      font-size: 20px!important;

      div.slides {
        transform: none !important;
        position: static !important;
    		width: 100% !important;
    		height: 100% !important;
    		left: 0 !important;
    		top: 0 !important;
    		margin-left: 0 !important;
    		margin-top: 0 !important;
    		padding: 0 !important;
    		zoom: 1 !important;
    		overflow: visible !important;
    		display: block !important;
    		-webkit-perspective: none;
    		   -moz-perspective: none;
    		    -ms-perspective: none;
    		        perspective: none;
    		-webkit-perspective-origin: 50% 50%;
    		   -moz-perspective-origin: 50% 50%;
    		    -ms-perspective-origin: 50% 50%;
    		        perspective-origin: 50% 50%;

        .pdf-page {
          overflow: hidden !important;
          margin:0;
          padding:0;

          div.container {
            position: relative;
            top:-20px;
          }
        }
      }
    }



  	/* SECTION 2: Remove any elements not needed in print.
  	   This would include navigation, ads, sidebars, etc. */
  	.nestedarrow,
  	.controls,
  	.fork-reveal,
  	.share-reveal,
  	.state-background,
  	.reveal .progress,
  	.reveal .backgrounds,
  	.reveal .slide-number {
  		display: none !important;
  	}


  	/* SECTION 5: Make hyperlinks more usable.
  	   Ensure links are underlined, and consider appending
  	   the URL to the end of the link for usability. */
  	a:link,
  	a:visited {
  		color: #000 !important;
  		font-weight: bold;
  		text-decoration: underline;
  	}
  	/*
  	.reveal a:link:after,
  	.reveal a:visited:after {
  		content: " (" attr(href) ") ";
  		color: #222 !important;
  		font-size: 90%;
  	}
  	*/



  	.reveal pre,
  	.reveal table {
  		margin-left: 0;
  		margin-right: 0;
  	}
  	.reveal pre code {
  		padding: 20px;
  		border: 1px solid #ddd;
  	}
  	.reveal blockquote {
  		margin: 20px 0;
  	}
  	.reveal .slides {

  	}
  	.reveal .slides section {
  		visibility: visible !important;
  		position: static !important;
  		overflow: hidden;
  		left: 0 !important;
  		top: 0 !important;
  		z-index: auto !important;
      display: flex !important;
      flex-direction: column;
      align-content: center;
      justify-content: center;

  		opacity: 1 !important;

  		page-break-after: always !important;

  		-webkit-transform-style: flat !important;
  		   -moz-transform-style: flat !important;
  		    -ms-transform-style: flat !important;
  		        transform-style: flat !important;

  		-webkit-transform: none !important;
  		   -moz-transform: none !important;
  		    -ms-transform: none !important;
  		        transform: none !important;

  		-webkit-transition: none !important;
  		   -moz-transition: none !important;
  		    -ms-transition: none !important;
  		        transition: none !important;
  	}
  	.reveal .slides section.stack {
  		padding: 0 !important;
  	}
  	.reveal section:last-of-type {
  		page-break-after: avoid !important;
  	}
  	.reveal section .fragment {
  		opacity: 1 !important;
  		visibility: visible !important;

  		-webkit-transform: none !important;
  		   -moz-transform: none !important;
  		    -ms-transform: none !important;
  		        transform: none !important;
  	}
  	.reveal section img {
  		margin: 15px 0px;
  		background: rgba(255,255,255,1);
  		box-shadow: none;
  	}

  	.reveal section small {
  		font-size: 0.8em;
  	}

  }
}
