@charset "UTF-8";

body {
  background-color: #fff !important;

  div.reveal {
    color: black;

    div.slides {
      width: 100% !important;
      height: 100% !important;

      section {
        width: 100% !important;
        height: 100% !important;
        margin: 0;
        padding: 0;
        display: flex !important;
        flex-direction: column;
        align-content: center;
        justify-content: center;

        div.vertical {
          display: flex !important;
          flex-wrap: nowrap;
          flex-direction: row;
          justify-content: space-evenly;

          & > :not(.split) {
            width: 100%;
          }

          div.split {
            max-width: 50%;
            display: flex !important;
            flex-direction: column;
            align-content: center;
            justify-content: center;
          }
        }
      }

      // Presentation title slide
      & > section:first-child,
      & > div.pdf-page > section {
        &:after {
          content: "";
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          position: absolute;
          background-image: url("./assets/logo_ouestware.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          opacity: 0.1;
        }

        h1 {
          text-transform: none;
          font-size: 2em;
        }
      }

      // Section title
      & > section > section:first-child,
      & > section > div.pdf-page:first-child > section {
        &:after {
          content: "";
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          position: absolute;
          background-image: url("./assets/logo_ouestware.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          opacity: 0.1;
        }

        h2 {
          font-size: 2em;
          text-transform: none;
        }
      }

      // Default slide
      & > section > section,
      & > section > div.pdf-page > section {
        background: url("./assets/logo-ouestware-inline.png") 12px calc(100% - 12px) no-repeat;
        background-size: 200px;

        h3 {
          top: 0;
          position: absolute;
          font-size: 2em;
          text-transform: none;
          width: 100%;
        }
      }
    }
  }
}
