{% set stem = node.hasAttribute('stem') %}
{% set chartistdir = node.getAttribute('chartist-dir') %}
{% set highlighter =  node.getDocument().getAttribute('source-highlighter') %}
{% set codemirrordir =  node.getDocument().getAttribute('codemirror-dir') %}
{% set revealjsdir = node.getDocument().getAttribute('revealjs-dir') %}
{% set codemirrorgraphqldir =  node.getDocument().getAttribute('codemirror-graphql-dir') %}

{% if revealjsdir %}
  <script type="application/javascript" src="{{revealjsdir}}/reveal.js"></script>
{% else %}
  <script type="application/javascript" src="https://gitcdn.link/repo/hakimel/reveal.js/master/dist/reveal.js"></script>
{% endif %}

<script type="application/javascript">
  Reveal.initialize({

    // Display presentation control arrows
    controls: {{node.getDocument().getAttribute('revealjs_controls', true) | toBool }},

    // Help the user learn the controls by providing hints, for example by
    // bouncing the down arrow when they first encounter a vertical slide
    controlsTutorial: {{node.getDocument().getAttribute('revealjs_controlsTutorial', true) | toBool }},

    // Determines where controls appear, "edges" or "bottom-right"
    controlsLayout: '{{node.getDocument().getAttribute('revealjs_controlsLayout', 'bottom-right')}}',

    // Visibility rule for backwards navigation arrows; "faded", "hidden"
    // or "visible"
    controlsBackArrows: '{{node.getDocument().getAttribute('revealjs_controlsBackArrows', 'faded')}}',

    // Display a presentation progress bar
    progress: '{{node.getDocument().getAttribute('revealjs_progress', 'faded')}}',

    // Display the page number of the current slide
    // - true:    Show slide number
    // - false:   Hide slide number
    //
    // Can optionally be set as a string that specifies the number formatting:
    // - "h.v":   Horizontal . vertical slide number (default)
    // - "h/v":   Horizontal / vertical slide number
    // - "c":   Flattened slide number
    // - "c/t":   Flattened slide number / total slides
    //
    // Alternatively, you can provide a function that returns the slide
    // number for the current slide. The function should take in a slide
    // object and return an array with one string [slideNumber] or
    // three strings [n1,delimiter,n2]. See #formatSlideNumber().
    slideNumber: {{node.getDocument().getAttribute('revealjs_slideNumber', false) | toBool}},

    // Can be used to limit the contexts in which the slide number appears
    // - "all":      Always show the slide number
    // - "print":    Only when printing to PDF
    // - "speaker":  Only in the speaker view
    showSlideNumber: '{{node.getDocument().getAttribute('revealjs_showSlideNumber', 'all')}}',

    // Use 1 based indexing for # links to match slide number (default is zero
    // based)
    hashOneBasedIndex: {{node.getDocument().getAttribute('revealjs_hashOneBasedIndex', false) | toBool}},

    // Add the current slide number to the URL hash so that reloading the
    // page/copying the URL will return you to the same slide
    hash: {{node.getDocument().getAttribute('revealjs_hash', true) | toBool}},

    // Flags if we should monitor the hash and change slides accordingly
    respondToHashChanges: {{node.getDocument().getAttribute('revealjs_respondToHashChanges', true) | toBool}},

    // Push each slide change to the browser history.  Implies `hash: true`
    history:  {{node.getDocument().getAttribute('revealjs_history', false) | toBool}},

    // Enable keyboard shortcuts for navigation
    keyboard: {{node.getDocument().getAttribute('revealjs_keyboard', true) | toBool}},

    // Optional function that blocks keyboard events when retuning false
    //
    // If you set this to 'foucsed', we will only capture keyboard events
    // for embdedded decks when they are in focus
    keyboardCondition: null,

    // Disables the default reveal.js slide layout (scaling and centering)
    // so that you can use custom CSS layout
    disableLayout: {{node.getDocument().getAttribute('revealjs_disableLayout', true) | toBool}},

    // Enable the slide overview mode
    overview: {{node.getDocument().getAttribute('revealjs_overview', true) | toBool}},

    // Vertical centering of slides
    center: {{node.getDocument().getAttribute('revealjs_center', true) | toBool}},

    // Enables touch navigation on devices with touch input
    touch: {{node.getDocument().getAttribute('revealjs_touch', true) | toBool}},

    // Loop the presentation
    loop: {{node.getDocument().getAttribute('revealjs_loop', false) | toBool}},

    // Change the presentation direction to be RTL
    rtl: {{node.getDocument().getAttribute('revealjs_rtl', false) | toBool}},

    // Changes the behavior of our navigation directions.
    //
    // "default"
    // Left/right arrow keys step between horizontal slides, up/down
    // arrow keys step between vertical slides. Space key steps through
    // all slides (both horizontal and vertical).
    //
    // "linear"
    // Removes the up/down arrows. Left/right arrows step through all
    // slides (both horizontal and vertical).
    //
    // "grid"
    // When this is enabled, stepping left/right from a vertical stack
    // to an adjacent vertical stack will land you at the same vertical
    // index.
    //
    // Consider a deck with six slides ordered in two vertical stacks:
    // 1.1    2.1
    // 1.2    2.2
    // 1.3    2.3
    //
    // If you're on slide 1.3 and navigate right, you will normally move
    // from 1.3 -> 2.1. If "grid" is used, the same navigation takes you
    // from 1.3 -> 2.3.
    navigationMode: '{{node.getDocument().getAttribute('revealjs_navigationMode', 'default') }}',

    // Randomizes the order of slides each time the presentation loads
    shuffle: {{node.getDocument().getAttribute('revealjs_shuffle', false) | toBool}},

    // Turns fragments on and off globally
    fragments: {{node.getDocument().getAttribute('revealjs_fragments', true) | toBool}},

    // Flags whether to include the current fragment in the URL,
    // so that reloading brings you to the same fragment position
    fragmentInURL: {{node.getDocument().getAttribute('revealjs_fragmentInURL', true) | toBool}},

    // Flags if the presentation is running in an embedded mode,
    // i.e. contained within a limited portion of the screen
    embedded: {{node.getDocument().getAttribute('revealjs_embedded', false) | toBool}},

    // Flags if we should show a help overlay when the question-mark
    // key is pressed
    help: {{node.getDocument().getAttribute('revealjs_help', true) | toBool}},

    // Flags if it should be possible to pause the presentation (blackout)
    pause: {{node.getDocument().getAttribute('revealjs_pause', true) | toBool}},

    // Flags if speaker notes should be visible to all viewers
    showNotes: {{node.getDocument().getAttribute('revealjs_showNotes', true) | toBool}},

    // Global override for autolaying embedded media (video/audio/iframe)
    // - null:   Media will only autoplay if data-autoplay is present
    // - true:   All media will autoplay, regardless of individual setting
    // - false:  No media will autoplay, regardless of individual setting
    autoPlayMedia: null,

    // Global override for preloading lazy-loaded iframes
    // - null:   Iframes with data-src AND data-preload will be loaded when within
    //           the viewDistance, iframes with only data-src will be loaded when visible
    // - true:   All iframes with data-src will be loaded when within the viewDistance
    // - false:  All iframes with data-src will be loaded only when visible
    preloadIframes: null,

    // Can be used to globally disable auto-animation
    autoAnimate: {{node.getDocument().getAttribute('revealjs_autoAnimate', true) | toBool}},

    // Optionally provide a custom element matcher that will be
    // used to dictate which elements we can animate between.
    autoAnimateMatcher: null,

    // Default settings for our auto-animate transitions, can be
    // overridden per-slide or per-element via data arguments
    autoAnimateEasing: 'ease',
    autoAnimateDuration: 1.0,
    autoAnimateUnmatched: {{node.getDocument().getAttribute('revealjs_autoAnimateUnmatched', true) | toBool}},

    // CSS properties that can be auto-animated. Position & scale
    // is matched separately so there's no need to include styles
    // like top/right/bottom/left, width/height or margin.
    autoAnimateStyles: [
      'opacity',
      'color',
      'background-color',
      'padding',
      'font-size',
      'line-height',
      'letter-spacing',
      'border-width',
      'border-color',
      'border-radius',
      'outline',
      'outline-offset'
    ],

    // Controls automatic progression to the next slide
    // - 0:      Auto-sliding only happens if the data-autoslide HTML attribute
    //           is present on the current slide or fragment
    // - 1+:     All slides will progress automatically at the given interval
    // - false:  No auto-sliding, even if data-autoslide is present
    autoSlide: {{node.getDocument().getAttribute('revealjs_autoSlide', 0) | toInt}},

    // Stop auto-sliding after user input
    autoSlideStoppable: {{node.getDocument().getAttribute('revealjs_fragmentInURL', true) | toBool}},

    // Use this method for navigation when auto-sliding (defaults to navigateNext)
    autoSlideMethod: null,

    // Specify the average time in seconds that you think you will spend
    // presenting each slide. This is used to show a pacing timer in the
    // speaker view
    defaultTiming: null,

    // Enable slide navigation via mouse wheel
    mouseWheel: {{node.getDocument().getAttribute('revealjs_mouseWheel', false) | toBool}},

    // Opens links in an iframe preview overlay
    // Add `data-preview-link` and `data-preview-link="false"` to customise each link
    // individually
    previewLinks: {{node.getDocument().getAttribute('revealjs_previewLinks', false) | toBool}},

    // Exposes the reveal.js API through window.postMessage
    postMessage: {{node.getDocument().getAttribute('revealjs_postMessage', true) | toBool}},

    // Dispatches all reveal.js events to the parent window through postMessage
    postMessageEvents: {{node.getDocument().getAttribute('revealjs_postMessageEvents', false) | toBool}},

    // Focuses body when page changes visibility to ensure keyboard shortcuts work
    focusBodyOnPageVisibilityChange: {{node.getDocument().getAttribute('revealjs_focusBodyOnPageVisibilityChange', true) | toBool}},

    // Transition style
    // none/fade/slide/convex/concave/zoom
    transition: '{{node.getDocument().getAttribute('revealjs_transition', 'slide') }}',

    // Transition speed
    // default/fast/slow
    transitionSpeed: '{{node.getDocument().getAttribute('revealjs_transitionSpeed', 'default') }}',

    // Transition style for full page slide backgrounds
    // none/fade/slide/convex/concave/zoom
    backgroundTransition: '{{node.getDocument().getAttribute('revealjs_backgroundTransition', 'slide') }}',

    // The maximum number of pages a single slide can expand onto when printing
    // to PDF, unlimited by default
    pdfMaxPagesPerSlide: {{node.getDocument().getAttribute('revealjs_pdfMaxPagesPerSlide', 1) | toInt }},

    // Prints each fragment on a separate slide
    pdfSeparateFragments: {{node.getDocument().getAttribute('revealjs_pdfSeparateFragments', true) | toBool}},

    // Offset used to reduce the height of content within exported PDF pages.
    // This exists to account for environment differences based on how you
    // print to PDF. CLI printing options, like phantomjs and wkpdf, can end
    // on precisely the total height of the document whereas in-browser
    // printing has to end one pixel before.
    pdfPageHeightOffset: {{node.getDocument().getAttribute('revealjs_pdfPageHeightOffset', -1) | toInt }},

    // Number of slides away from the current that are visible
    viewDistance: {{node.getDocument().getAttribute('revealjs_viewDistance', 3) | toInt }},

    // Number of slides away from the current that are visible on mobile
    // devices. It is advisable to set this to a lower number than
    // viewDistance in order to save resources.
    mobileViewDistance: {{node.getDocument().getAttribute('revealjs_mobileViewDistance', 2) | toInt }},

    // The display mode that will be used to show slides
    display: '{{node.getDocument().getAttribute('revealjs_display', 'block') }}',

    // Hide cursor if inactive
    hideInactiveCursor: {{node.getDocument().getAttribute('revealjs_hideInactiveCursor', true) | toBool}},

    // Time before the cursor is hidden (in ms)
    hideCursorTime: {{node.getDocument().getAttribute('revealjs_hideCursorTime', 5000) | toInt }}
  });
</script>

{% if stem %}
  <script crossorigin="anonymous" async="async" type="application/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_HTMLorMML"></script>
  <script type="application/javascript">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['\\(','\\)']],
        displayMath: [['\\[','\\]']],
        ignoreClass: 'nostem|nolatexmath'
      },
      asciimath2jax: {
        delimiters: [['\\$','\\$']],
        ignoreClass: 'nostem|noasciimath'
      }
    });
  </script>
{% endif %}


{% if chartistdir %}
  <script type="application/javascript" src="{{chartistdir}}/chartist.min.js"></script>
  <script type="application/javascript">
    document.body.querySelectorAll('div.ct-chart').forEach((node) => {
      const options = {
        height: node.dataset['chartHeight'],
        width: node.dataset['chartWidth'],
        colors: node.dataset['chartColors'].split(',')
      }
      const dataset = Object.assign({}, node.dataset)
      const series = Object.values(Object.keys(dataset)
        .filter(key => key.startsWith('chartSeries-'))
        .reduce((obj, key) => {
          obj[key] = dataset[key]
          return obj
        }, {})).map(value => value.split(','))
      const data = {
        labels: node.dataset['chartLabels'].split(','),
        series: series
      }
      Chartist[node.dataset['chartType']](node, data, options)
    })
  </script>
{% endif %}

{% if highlighter == "codemirror" and codemirrordir %}
  <script type="application/javascript" src="{{codemirrordir}}/lib/codemirror.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/apl/apl.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/asciiarmor/asciiarmor.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/asn.1/asn.1.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/asterisk/asterisk.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/brainfuck/brainfuck.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/clike/clike.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/clojure/clojure.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/cmake/cmake.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/cobol/cobol.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/coffeescript/coffeescript.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/commonlisp/commonlisp.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/crystal/crystal.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/css/css.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/cypher/cypher.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/d/d.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/dart/dart.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/diff/diff.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/django/django.js"></script>
  <!--<script type="application/javascript" src="{{codemirrordir}}/mode/dockerfile/dockerfile.js"></script>-->
  <script type="application/javascript" src="{{codemirrordir}}/mode/dtd/dtd.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/dylan/dylan.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/ebnf/ebnf.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/ecl/ecl.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/eiffel/eiffel.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/elm/elm.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/erlang/erlang.js"></script>
  <!--<script type="application/javascript" src="{{codemirrordir}}/mode/factor/factor.js"></script>-->
  <script type="application/javascript" src="{{codemirrordir}}/mode/fcl/fcl.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/forth/forth.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/fortran/fortran.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/gas/gas.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/gfm/gfm.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/gherkin/gherkin.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/go/go.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/groovy/groovy.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/haml/haml.js"></script>
  <!--<script type="application/javascript" src="{{codemirrordir}}/mode/handlebars/handlebars.js"></script>-->
  <script type="application/javascript" src="{{codemirrordir}}/mode/haskell/haskell.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/haskell-literate/haskell-literate.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/haxe/haxe.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/htmlembedded/htmlembedded.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/htmlmixed/htmlmixed.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/http/http.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/idl/idl.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/javascript/javascript.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/jinja2/jinja2.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/jsx/jsx.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/julia/julia.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/livescript/livescript.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/lua/lua.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/markdown/markdown.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/mathematica/mathematica.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/mbox/mbox.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/mirc/mirc.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/mllike/mllike.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/modelica/modelica.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/mscgen/mscgen.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/mumps/mumps.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/nginx/nginx.js"></script>
  <!--<script type="application/javascript" src="{{codemirrordir}}/mode/nsis/nsis.js"></script>-->
  <script type="application/javascript" src="{{codemirrordir}}/mode/ntriples/ntriples.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/octave/octave.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/oz/oz.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/pascal/pascal.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/pegjs/pegjs.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/perl/perl.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/php/php.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/pig/pig.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/powershell/powershell.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/properties/properties.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/protobuf/protobuf.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/pug/pug.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/puppet/puppet.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/python/python.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/q/q.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/r/r.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/rpm/rpm.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/rst/rst.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/ruby/ruby.js"></script>
  <!--<script type="application/javascript" src="{{codemirrordir}}/mode/rust/rust.js"></script>-->
  <script type="application/javascript" src="{{codemirrordir}}/mode/sas/sas.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/sass/sass.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/scheme/scheme.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/shell/shell.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/sieve/sieve.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/slim/slim.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/smalltalk/smalltalk.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/smarty/smarty.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/solr/solr.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/soy/soy.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/sparql/sparql.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/spreadsheet/spreadsheet.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/sql/sql.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/stex/stex.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/stylus/stylus.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/swift/swift.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/tcl/tcl.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/textile/textile.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/tiddlywiki/tiddlywiki.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/tiki/tiki.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/toml/toml.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/tornado/tornado.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/troff/troff.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/ttcn/ttcn.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/ttcn-cfg/ttcn-cfg.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/turtle/turtle.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/twig/twig.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/vb/vb.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/vbscript/vbscript.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/velocity/velocity.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/verilog/verilog.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/vhdl/vhdl.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/vue/vue.js"></script>
  <!--<script type="application/javascript" src="{{codemirrordir}}/mode/wast/wast.js"></script>-->
  <script type="application/javascript" src="{{codemirrordir}}/mode/webidl/webidl.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/xml/xml.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/xquery/xquery.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/yacas/yacas.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/yaml/yaml.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/yaml-frontmatter/yaml-frontmatter.js"></script>
  <script type="application/javascript" src="{{codemirrordir}}/mode/z80/z80.js"></script>
  <script type="application/javascript" src="{{codemirrorgraphqldir}}/results/mode.js"></script>

  <script type='text/javascript'>
    var elements = document.getElementsByClassName("code_highlight");
    for( var i=0; i< elements.length; i++) {
      var element = elements[i];
      var mode = element.getAttribute("data-lang");
      CodeMirror.fromTextArea(element, { 'readonly':true, 'mode':mode, 'theme':'neo', 'lineNumbers':true, 'lineWrapping':true});
    };
  </script>
{% endif %}
