{% set stylesheet = node.getAttribute('stylesheet', '.') %}
{% set stylesdir = node.getAttribute('stylesdir') %}
{% set chartistdir = node.getAttribute('chartist-dir') %}
{% set highlighter =  node.getDocument().getAttribute('source-highlighter') %}
{% set codemirrordir =  node.getDocument().getAttribute('codemirror-dir') %}
{% set codemirrortheme =  node.getAttribute('codemirror-theme', 'neo') %}
{% set revealjsdir = node.getDocument().getAttribute('revealjsdir') %}
{% set revealjstheme = node.getDocument().getAttribute('revealjs_theme', 'black') %}
{% set revealjscustomtheme = node.getDocument().getAttribute('revealjs_customtheme') %}


{% if revealjsdir %}
  <link media='all' rel='stylesheet' href='{{revealjsdir}}/reveal.css'>
  {% if not revealjscustomtheme %}
    <link media='all' rel='stylesheet' href='{{revealjsdir}}/theme/{{revealjstheme}}.css' id="theme">
  {% endif %}
{% else %}
  <link media='all' rel='stylesheet' href='https://gitcdn.link/repo/hakimel/reveal.js/master/dist/reveal.css'>
  {% if not revealjscustomtheme %}
    <link media='all' rel='stylesheet' href='https://gitcdn.link/repo/hakimel/reveal.js/master/dist/theme/{{revealjstheme}}.css' id="theme">
  {% endif %}
{% endif %}
{% if revealjscustomtheme %}
  <link media='all' rel='stylesheet' href='{{revealjscustomtheme}}' id="theme">
{% endif %}

{% if chartistdir %}
  <link media='all' rel='stylesheet' href='{{chartistdir}}/chartist.min.css'>
{% endif %}

{% if highlighter == "codemirror" and codemirrordir %}
  <link media='all' rel='stylesheet' href='{{codemirrordir}}/lib/codemirror.css'>
  <link media='all' rel='stylesheet' href='{{codemirrordir}}/theme/{{codemirrortheme}}.css'>
{% endif %}

{% if (stylesdir =='.') and (not stylesheet) %}
  <link media='all' rel='stylesheet' href='https://gitcdn.link/repo/asciidoctor/asciidoctor/master/data/stylesheets/asciidoctor-default.css'>
{% elif (not stylesdir =='.') and (not stylesheet) %}
  <link media='all' rel='stylesheet' href='{{stylesdir}}/index.css'>
{% else %}
  <link media='all' rel='stylesheet' href='{{stylesdir}}/{{stylesheet}}'>
{% endif %}
