{% set id = node.getId() %}
{% set role = node.getRole() %}
{% set title = node.getTitle() %}
{% set name = node.getAttribute('name') %}
{% set icon = admonitionNameToFontAwesome(name) %}

<div id="{{id}}" class="admonitionblock {{role}} {{name}}">
  <div class="icon" style="color:{{icon.color}}">
    <i class="fas fa-{{icon.name}}"></i>
  </div>
  <div class="content" >
  {% if title %}
    <div class="title">{{title}}</div>
  {% endif %}
  {{ node.getContent() | safe}}
  </div>
</div>
