{# Documentation for document node : http://asciidoctor.github.io/asciidoctor.js/master/#document #}

{% set lang = node.getAttribute('lang', DEFAULT_LANG) %}
{% set encoding = node.getAttribute('encoding', DEFAULT_ENCODING) %}
{% set generator = 'Asciidoctor' + node.getAttribute('asciidoctor-version') %}
{% set title = node.getTitle() %}
{% set description = node.getAttribute('description') %}
{% set authors = node.getAuthors() %}
{% set keywords = node.getAttribute('keywords') %}
{% set copyright = node.getAttribute('copyright') %}
{% set doctype = node.getDoctype() %}
{% set nofootnotes = node.getAttribute('nofootnotes', false) %}
{% set noheader = node.getNoheader() %}
{% set nofooter = node.getNofooter() %}

{% set shouldAddTocClassOnBody = node.hasAttribute('toc-class') and node.hasAttribute('toc') and (node.getAttribute('toc-placement') == "auto") %}
{% set bodyTocClass = node.getAttribute('toc-class') + " toc-" + node.getAttribute('toc-position', 'left') if shouldAddTocClassOnBody else "" %}
{% set bodyStyle = "max-width: " + node.getAttribute('max-width') if node.getAttribute('max-width') else "" %}

<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    <title>{{ title }}</title>
    <meta charset="{{encoding}}" />
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name='generator' content="{{generator}}" >
    {% if authors %}<meta name='authors' content="{% set comma = joiner() %}{% for author in authors %}{{ comma() }}{{author.getName() | safe}}{% endfor %}" >{% endif %}
    {% if copyright %}<meta name='copyright' content="{{copyright}}" >{% endif %}
    {% if keywords %}<meta name='keywords' content="{{keywords}}" >{% endif %}
    {% if description %}<meta name='description' content="{{description}}" >{% endif %}

    {% include "_stylesheets.njk" %}

  </head>
  <body class="{{doctype}} {{bodyTocClass}}" style="{{bodyStyle}}">

    {% include "_toc.njk" %}

    <div class="reveal">
      <div class="slides">

        {% if (not noheader) %}
          <section id="header">
            {% include "_header.njk" %}
          </section>
        {% endif %}

        {{ node.getContent() | safe}}

        {% if (not nofootnotes) %}
          {% include "_footnotes.njk" %}
        {% endif %}
      </div>
    </div>

    {% if (not nofooter) %}
      <footer id="footer">
        {% include "_footer.njk" %}
      </footer>
    {% endif %}

    {% include "_scripts.njk" %}
  </body>
</html>