{% set level = node.getLevel() %}
{% set title = node.getCaptionedTitle() %}
{% set hide_title =  (title == '!') or node.getAttribute('notitle', false) or node.getAttribute('conceal', false) %}
{% set id = node.getId() %}
{% set role = node.getRole() %}
{% set transition = node.getAttribute('transition') %}
{% set transitionSpeed = node.getAttribute('transition-speed') %}
{% set backgroundColor = node.getAttribute('background-color') %}
{% set backgroundImage = node.getAttribute('background-image') %}
{% set backgroundSize = node.getAttribute('background-size') %}
{% set backgroundRepeat = node.getAttribute('background-repeat') %}
{% set backgroundTransition = node.getAttribute('background-transition') %}
{% set backgroundPosition = node.getAttribute('background-position') %}
{% set backgroundIframe = node.getAttribute('background-iframe') %}
{% set backgroundVideo = node.getAttribute('background-video') %}
{% set backgroundVideoLoop = node.getAttribute('background-video-loop') or node.getAttribute('loop')  %}
{% set backgroundVideoMuted = node.getAttribute('background-video-muted') or node.getAttribute('muted') %}
{% set backgroundOpacity = node.getAttribute("background-opacity") %}
{% set autoslide = node.getAttribute("autoslide") %}
{% set state = node.getAttribute('state') %}

{% if level == 1 and node.hasSections() %}
  <section>
{% endif %}

{% if level == 1 %}
  <section
    id="{{id}}"
    class="sect{{level}} {{role}}"
    {%if transition %}data-transition="{{transition}}"{% endif %}
    {%if transitionSpeed %}data-transition-speed="{{transitionSpeed}}"{% endif %}
    {%if backgroundColor %}data-background-color="{{backgroundColor}}"{% endif %}
    {%if backgroundImage %}data-background-image="{{backgroundImage}}"{% endif %}
    {%if backgroundSize %}data-background-size="{{backgroundSize}}"{% endif %}
    {%if backgroundRepeat %}data-background-repeat="{{backgroundRepeat}}"{% endif %}
    {%if backgroundTransition %}data-background-transition="{{backgroundTransition}}"{% endif %}
    {%if backgroundPosition %}data-background-position="{{backgroundPosition}}"{% endif %}
    {%if backgroundIframe %}data-background-iframe="{{backgroundIframe}}"{% endif %}
    {%if backgroundVideo %}data-background-video="{{backgroundVideo}}"{% endif %}
    {%if backgroundVideoLoop %}data-background-video-loop="{{backgroundVideoLoop}}"{% endif %}
    {%if backgroundVideoMuted %}data-background-video-muted="{{backgroundVideoMuted}}"{% endif %}
    {%if backgroundOpacity %}data-background-opacity="{{backgroundOpacity}}"{% endif %}
    {%if autoslide %}data-autoslide="{{autoslide}}"{% endif %}
    {%if state %}data-state="{{state}}"{% endif %}
  >
    {% if not hide_title %}
      <h{{level+1}}>{{title | safe}}</h{{level+1}}>
    {% endif %}
      {{ node.getContent() | safe}}
  </section>
{% endif %}

{# We iterate all level 2 and we display them #}
{% if level == 1 and node.hasSections() %}

  {% for section in node.getSections() %}
    {% set title2 = section.getCaptionedTitle() %}
    {% set hide_title2 =  (title2 == '!') or section.getAttribute('notitle', false) or section.getAttribute('conceal', false) %}
    {% set id2 = section.getId() %}
    {% set role2 = section.getRole() %}
    {% set transition2 = section.getAttribute('transition') %}
    {% set transitionSpeed2 = section.getAttribute('transition-speed') %}
    {% set backgroundColor2 = section.getAttribute('background-color') %}
    {% set backgroundImage2 = section.getAttribute('background-image') %}
    {% set backgroundSize2 = section.getAttribute('background-size') %}
    {% set backgroundRepeat2 = section.getAttribute('background-repeat') %}
    {% set backgroundTransition2 = section.getAttribute('background-transition') %}
    {% set backgroundPosition2 = section.getAttribute('background-position') %}
    {% set backgroundIframe2 = section.getAttribute('background-iframe') %}
    {% set backgroundVideo2 = section.getAttribute('background-video') %}
    {% set backgroundVideoLoop2 = section.getAttribute('background-video-loop') or section.getAttribute('loop')  %}
    {% set backgroundVideoMuted2 = section.getAttribute('background-video-muted') or section.getAttribute('muted') %}
    {% set backgroundOpacity2 = section.getAttribute("background-opacity") %}
    {% set autoslide2 = section.getAttribute("autoslide") %}
    {% set state2 = section.getAttribute('state') %}

    <section
      id="{{id2}}"
      class="sect{{level+1}} {{role2}}"
      {% if transition2 %}data-transition="{{transition2}}"{% endif %}
      {% if transitionSpeed2 %}data-transition-speed="{{transitionSpeed2}}"{% endif %}
      {% if backgroundColor2 %}data-background-color="{{backgroundColor2}}"{% endif %}
      {% if backgroundImage2 %}data-background-image="{{backgroundImage2}}"{% endif %}
      {% if backgroundSize2 %}data-background-size="{{backgroundSize2}}"{% endif %}
      {% if backgroundRepeat2 %}data-background-repeat="{{backgroundRepeat2}}"{% endif %}
      {% if backgroundTransition2 %}data-background-transition="{{backgroundTransition2}}"{% endif %}
      {% if backgroundPosition2 %}data-background-position="{{backgroundPosition2}}"{% endif %}
      {% if backgroundIframe2 %}data-background-iframe="{{backgroundIframe2}}"{% endif %}
      {% if backgroundVideo2 %}data-background-video="{{backgroundVideo2}}"{% endif %}
      {% if backgroundVideoLoop2 %}data-background-video-loop="{{backgroundVideoLoop2}}"{% endif %}
      {% if backgroundVideoMuted2 %}data-background-video-muted="{{backgroundVideoMuted2}}"{% endif %}
      {% if backgroundOpacity2 %}data-background-opacity="{{backgroundOpacity2}}"{% endif %}
      {% if autoslide2 %}data-autoslide="{{autoslide2}}"{% endif %}
      {%if state2 %}data-state="{{state2}}"{% endif %}
    >
      {% if not hide_title2 %}
        <h{{level+2}}>{{section.getCaptionedTitle() | safe}}</h{{level+2}}>
      {% endif %}

      {% if section.hasSections() %} <div class="vertical">{% endif %}
      {{ section.getContent() | safe}}

      {% if section.hasSections() %} </div>{% endif %}

    </section>
  {% endfor %}
</section>
{% endif %}

{% if level > 2 %}
  <div class="split">
    {{ node.getContent() | safe}}
  </div>
{% endif%}
