@import "../command-line/node_modules/@asciidoctor/core/dist/css/asciidoctor";

#toc {
  max-width:1000px;
  width:100%;
  margin: 0 auto;
  padding-left: .9375em;
  padding-right: .9375em;
}

.listingblock  .content .CodeMirror {
  height: auto;
}