@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 300;
	src:
		local('Raleway Light'),
		local('Raleway-Light'),
		/* from https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwIYqWqZPAA.woff2 */
		url('./assets/font/Raleway/Raleway_300.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwIYqWqZPBg.woff */
		url('./assets/font/Raleway/Raleway_300.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwIYqWqZPBA.eot */
		url('./assets/font/Raleway/Raleway_300.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/l/font?kit=1Ptrg8zYS_SKggPNwIYqWqZPBw&skey=f383b08b06c2c86f&v=v14#Raleway */
		url('./assets/font/Raleway/Raleway_300.svg#Raleway') format('svg'),
		/* from https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwIYqWqZPBQ.ttf */
		url('./assets/font/Raleway/Raleway_300.ttf') format('truetype');
}
