@charset "UTF-8";

body {
  font-family: $font-family;
  color: black;
  background-image: url("./assets/logo-ouestware.svg");
  background-repeat: no-repeat;
  background-position: 15px 15px;
  background-size: 70px 70px;

  header#header {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    border: none;

    h1:first-child {
      color: $primary;
      width: calc(100% - 200px);
      height: 100px;
      line-height: 100px;
      margin: 0 auto;
      text-align: center;
    }

    div.details {
      width: calc(100% - 200px);
      margin: 0 auto;
      border: none;
      text-align: center;
      display: block;
    }
  }

  nav#toc {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: $secondary;
    h2 {
      color: $primary;
    }
  }

  footer#footer {
    background: $secondary;
    border-top: 0.5em solid $primary;

    #footer-text {
      color: $black;
    }
  }

  main#content {
    border-top: 1px solid $secondary !important;
    margin: 0 auto;
    padding-top: 1em;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $primary;
    }

    img,
    object,
    svg {
      display: block;
      margin: 0 auto;
    }

    table {
      border-color: $secondary;
      border-width: 4px;
      margin: 10px auto;
      border-collapse: collapse;
      border-spacing: 0;

      thead {
        background-color: $primary;
        th {
          font-weight: bold;
          color: #fff;
        }
      }

      tbody,
      thead {
        tr {
          padding: 5px;
          border-color: $secondary;
          border-width: 4px;
          text-align: left;
          padding: 0.2em 0.5em 0.2em 0.5em;

          th.tableblock,
          td.tableblock {
            padding: 5px;
            border-color: $secondary;
            border-width: 4px;
            text-align: center;

            div.listingblock {
              text-align: left;
              display: contents;

              pre.CodeMirror-line {
                word-wrap: anywhere;
              }
            }
          }
        }
      }
    }

    .sect1 {
      padding-bottom: 0;

      & + .sect1 {
        border-top: none;
      }
    }

    .admonitionblock {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      margin-bottom: 1.25rem;

      .icon {
        font-size: 2em;
        flex-grow: 0;
        padding: 0 1rem;
      }
      .content {
        border-left: 1px solid $secondary;
        padding-left: 1rem;
        flex-grow: 1;
      }
    }

    code {
      font-family: monospace;
      color: $error;
    }

    hr {
      border-color: $secondary;
    }
  }
}
