@import "../../../command-line/node_modules/@asciidoctor/core/dist/css/asciidoctor";

#toc {
  width: 100%;
  max-width: 62.5em;
  margin: 0 auto;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  h2 {
    text-align: center;
  }
}

.listingblock .content .CodeMirror {
  height: auto;
}

body.toc-left {
  margin-left: 20rem;
}
body.toc-right {
  margin-right: 20rem;
  nav#toc {
    right: 0;
    left: inherit;
  }
}
body.toc-content {
  nav#toc {
    width: 100%;
  }
}
