@charset "UTF-8";

@media print {
  @page {
    size: A4 portrait;
    margin: 10mm;
  }
  h1 {
    page-break-before: always;
  }

  h2,
  h3,
  h4,
  h5 {
    page-break-after: avoid;
  }

  table,
  figure,
  img {
    page-break-inside: auto;
  }

  body {
    #toc {
      display: none;
    }
    header#header {
      & > h1:only-child {
        page-break-before: avoid;
      }
    }
    main {
      border-top: none !important;
      padding-top: 20px;
      section {
        a[href*='//']:after {
          content: " (" attr(href) ") ";
          color: $primary;
        }
      }
    }
    footer#footer {
      display: none;
    }
  }
}
