@charset "UTF-8";

$primary: #2a4657;
$secondary: #e4eff5;
$success: #28a745;
$warning: #fd7e14;
$error: #dc3545;

$black: #000;

$font-family: "Raleway";

$fa-font-path: "./assets/font/fontawesome";
